In [1]:
import pandas as pd
import numpy as py
import datetime as dt

In [3]:
# defining the file path
filepath = "data/2018weatherdata_csv.csv"
filepath

'data/2018weatherdata_csv.csv'

In [4]:
# Open the file
weather_df = pd.read_csv(filepath)

In [6]:
weather_df.head()

,USAF,WBAN,YR--MODAHRMN,DATE,DIR,SPD,GUS,CLG,SKC,L,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,724030,93738,2.018010e+11,2018-01-01,***,0,***,722,SCT,*,...,1029.5,*****,1017.8,21,13,*****,0.00,*****,*****,**
1,724030,93738,2.018010e+11,2018-01-01,320,5,***,722,SCT,*,...,1030.1,30.41,1017.9,***,***,0.00,*****,*****,*****,**
2,724030,93738,2.018010e+11,2018-01-01,***,0,***,722,CLR,*,...,1030.6,30.42,1018.3,***,***,0.00,*****,*****,*****,**
3,724030,93738,2.018010e+11,2018-01-01,990,3,***,722,CLR,*,...,1030.5,30.42,1018.3,***,***,0.00,*****,*****,*****,**
4,724030,93738,2.018010e+11,2018-01-01,320,6,***,722,CLR,*,...,1031.0,30.43,1018.6,***,***,0.00,*****,*****,*****,**

In [17]:
# Drop the rows with no temp
weather_df.dropna(subset=['TEMP'])
weather_df.head()

,USAF,WBAN,YR--MODAHRMN,DATE,DIR,SPD,GUS,CLG,SKC,M,...,SLP,ALT,STP,MAX,MIN,PCP01,PCP06,PCP24,PCPXX,SD
0,724030,93738,2.018010e+11,2018-01-01,***,0,***,722,SCT,*,...,1029.5,*****,1017.8,21,13,*****,0.00,*****,*****,**
1,724030,93738,2.018010e+11,2018-01-01,320,5,***,722,SCT,*,...,1030.1,30.41,1017.9,***,***,0.00,*****,*****,*****,**
2,724030,93738,2.018010e+11,2018-01-01,***,0,***,722,CLR,*,...,1030.6,30.42,1018.3,***,***,0.00,*****,*****,*****,**
3,724030,93738,2.018010e+11,2018-01-01,990,3,***,722,CLR,*,...,1030.5,30.42,1018.3,***,***,0.00,*****,*****,*****,**
4,724030,93738,2.018010e+11,2018-01-01,320,6,***,722,CLR,*,...,1031.0,30.43,1018.6,***,***,0.00,*****,*****,*****,**

In [18]:
# Drop columns with no data
del weather_df['M']
del weather_df['H']
del weather_df['MW']
del weather_df['MW_1']
del weather_df['MW_2']
del weather_df['MW_3']
del weather_df['AW']
del weather_df['AW_4']
del weather_df['AW_5']
del weather_df['AW_6']
del weather_df['W']
del weather_df['PCP01']
del weather_df['PCP06']
del weather_df['PCP24']
del weather_df['PCPXX']
del weather_df['SD']

In [20]:
weather_df.head()

,USAF,WBAN,YR--MODAHRMN,DATE,DIR,SPD,GUS,CLG,SKC,VSB,TEMP,DEWP,SLP,ALT,STP,MAX,MIN
0,724030,93738,2.018010e+11,2018-01-01,***,0,***,722,SCT,10.0,14,6,1029.5,*****,1017.8,21,13
1,724030,93738,2.018010e+11,2018-01-01,320,5,***,722,SCT,10.0,15,8,1030.1,30.41,1017.9,***,***
2,724030,93738,2.018010e+11,2018-01-01,***,0,***,722,CLR,10.0,11,6,1030.6,30.42,1018.3,***,***
3,724030,93738,2.018010e+11,2018-01-01,990,3,***,722,CLR,10.0,11,4,1030.5,30.42,1018.3,***,***
4,724030,93738,2.018010e+11,2018-01-01,320,6,***,722,CLR,10.0,13,3,1031.0,30.43,1018.6,***,***

In [23]:
#weather_df.count()

USAF            12729
WBAN            12729
YR--MODAHRMN    12729
DATE            12729
DIR             12729
SPD             12729
GUS             12729
CLG             12729
SKC             12729
VSB             12729
TEMP            12729
DEWP            12729
SLP             12729
ALT             12729
STP             12729
MAX             12729
MIN             12729
dtype: int64